/* ... existing code ... */

.products_box {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    max-width: 1064px;
    margin: 200px auto;
    width: 97%;
    
}

.product_card {
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, .04), 0 8px 10px rgba(0, 0, 0, .08);
    min-height: 332px;
    max-width: 528px;
    width: calc(50% - 16px); /* Account for the gap */
    flex: 1 1 460px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    overflow: hidden;
}

.product_card-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    height: 100%;
}

.product_card-img {
    flex-basis: 33.33%;
    flex: 0 0 128px;
    margin-left: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_card-img img {
    width: 128px;
    height: 128px;
    object-fit: contain;
    border-radius: 16px;
    background: #f5f7fa;
}

.product_card-text {
    /* flex: 1 1 0; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.product_card-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
    color: rgba(4, 10, 31, 0.87);
}

.product_card-desc {
    font-size: 14px;
    font-weight: 400;
    color: rgba(4, 10, 31, 0.87);
    margin-bottom: 24px;
    line-height: 1.8;
    min-height: 70px;
    overflow: hidden;
}

.product_card-more {
    color: rgb(0, 143, 255);
    font-size: 12px !important;
    font-weight: 400;
    margin-top: auto;
    transition: color 0.2s;
    text-align: left;
}
.product_card-more a{
    text-decoration: none;
    padding: 8px 5px;
    border-radius: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product_card-more a:hover {
    text-decoration: none;
    background-color: rgba(0, 143, 255, 0.04);
}

/* ... existing code ... */